NeRiT*
gaawr2/
gaawr2-*
gaawr2_*gz
!vignettes/gaawr2_files/
!vignettes/gaawr2_files/**
gap.datasets_*
gap.examples_*
gap/inst/shinygap/.Rhistory
gap-00build.log
gap_*.gz
!vignettes/gap_files/
!vignettes/gap_files/**
lmm_*
pan_*
pQTLdata*
pQTLtools*
tdthap_*
*.Rcheck
work
