

 FILE TITLE=?                                                                             


 Mon Dec  6 17:23:50 1993         NUCFAMA77 CREATED 08-01-84.  PROLIX OUTPUT.


 ----------------------------------------------------------------------------------------------------------------------------------
0DATA FILE NAME = poidat                                       
0JOB FILE NAME = poijob                                       
0PROLIX FILE NAME = poipro                                       
0TERSE FILE NAME = poiter                                       


 ==================================================================================================================================
 PT(ID=1,PO=2,AF=3,PR=4,LI=5)                                                    
 FM(74)(F5.0,9X,F1.0,7X,F1.0,7X,F1.0,18X,F1.0)                                   
 PI(.001)                                                                        
 LI(.00076,.00253,.00796,.03895,.000669,.003085,.00661,.01704)                   

 INPUT SPECIFICATIONS:      74 CHARS. PER RECORD
                           NO. OF FIELDS =   5

          A-FORMAT     (A5,9X,A1,7X,A1,7X,A1,18X,A1)                                                                               

                      FAMILY    FIELD    1
                      POSITION  FIELD    2
                      GEN.      FIELD    0
                      PROBAND   FIELD    4
                      AFFECT.   FIELD    3          A =  1       N =  0       U =  9

                      LIABILITY FIELD    5
                           LI VALUES:   0.00076  0.00253  0.00796  0.03895  0.00067  0.00309  0.00661  0.01704

                           PO VALUES:      FATHER =     1          MOTHER =     2
                                           FATHER POINTER =     4          MOTHER POINTER =     5          CHILDREN POINTER =     6
                                           CHILD = ANYTHING ELSE

                           PI =   0.00100


          F-FORMAT     (F5.0,9X,F1.0,7X,F1.0,7X,F1.0,18X,F1.0)                                                                     



 TRANSFORMATION -   0




 ----------------------------------------------------------------------------------------------------------------------------------


 Mon Dec  6 17:23:55 1993          RPOINTA CREATED 08-30-85.  PROLIX OUTPUT.


 ==================================================================================================================================
 PA(D=1.,T=1.8,Q=0.002)                                                          
 IT(T,Q)                                                                         
          ********** NN =  5 **********


   DIFFERENTIATION INTERVAL= 0.10000E-02TRUNCATION UPPER    BOUND= 0.31623E+00


 ----------------------------------------------------------------------------------------------------------------------------------
 ITERATION   1  T =  0.100E+00     NFE =     3  F(-LN L)=-0.12360422236E+04
 (V,U,D,T,Q,CK,CA,X,W,T1,T2,T3,R=)   1.00000   0.00000   1.00000   0.08050   1.00100   0.00000   0.00000   0.00000   0.00000
                                     1.00000   0.50000   0.00000   0.50000
 X= 0.80498447190E-01 0.10000000000E+01
 G=-0.55129531916E+01-0.14152858512E-01
 P= 0.18041170791E-02-0.86438485941E-01
   FSMF= 0.00000E+00  PTG=-0.87227E-02  XPM= 0.10000E+31  TMIN= 0.00000E+00
   INITIAL T= 0.10000E+00
          TBND= 0.11546E+02  RESET T= 0.10000E+00
 ----------------------------------------------------------------------------------------------------------------------------------
 ITERATION   2  T =  0.200E+00     NFE =     7  F(-LN L)=-0.12360434686E+04
 (V,U,D,T,Q,CK,CA,X,W,T1,T2,T3,R=)   1.00000   0.00000   1.00000   0.08086   0.98370   0.00000   0.00000   0.00000   0.00000
                                     1.00000   0.50000   0.00000   0.50000
 X= 0.80859270606E-01 0.98271230281E+00
 G= 0.13137933840E+02 0.11372661954E+00
 P=-0.20471196470E-03 0.48820836181E-02
   FSMF= 0.12449E-02  PTG=-0.21343E-02  XPM= 0.20129E+03  TMIN= 0.31827E+00
   INITIAL T= 0.10000E+01
          TBND= 0.38522E+03  RESET T= 0.10000E+01
 ----------------------------------------------------------------------------------------------------------------------------------
 ITERATION   3  T =  0.500E+00     NFE =    11  F(-LN L)=-0.12360436951E+04
 (V,U,D,T,Q,CK,CA,X,W,T1,T2,T3,R=)   1.00000   0.00000   1.00000   0.08076   0.98614   0.00000   0.00000   0.00000   0.00000
                                     1.00000   0.50000   0.00000   0.50000
 X= 0.80756914623E-01 0.98515334462E+00
 G= 0.50862838157E+01 0.37129564700E-01
 P=-0.16970367557E-03 0.12225245965E-01
   FSMF= 0.22649E-03  PTG=-0.40924E-03  XPM= 0.80584E+02  TMIN= 0.12741E+00
   INITIAL T= 0.10000E+01
          TBND= 0.46408E+03  RESET T= 0.10000E+01

                              ----------------------------

                              SWITCH TO CENTRAL DIFFERENCE

                              ----------------------------

 ----------------------------------------------------------------------------------------------------------------------------------
 ITERATION   4  T =  0.500E-01     NFE =    18  F(-LN L)=-0.12360436951E+04
 (V,U,D,T,Q,CK,CA,X,W,T1,T2,T3,R=)   1.00000   0.00000   1.00000   0.08076   0.98417   0.00000   0.00000   0.00000   0.00000
                                     1.00000   0.50000   0.00000   0.50000
 X= 0.80756914623E-01 0.98515334462E+00
 G=-0.20412339154E+00 0.29025842668E-01
 P= 0.29156154373E-03-0.29450283466E-01
   FSMF= 0.22649E-03  PTG=-0.91433E-03  XPM= 0.33451E+02  TMIN= 0.52891E-01
   INITIAL T= 0.50000E+00
          TBND= 0.33383E+02  RESET T= 0.50000E+00
 ----------------------------------------------------------------------------------------------------------------------------------
 ITERATION   5  T =  0.250E+00     NFE =    24  F(-LN L)=-0.12360438068E+04
 (V,U,D,T,Q,CK,CA,X,W,T1,T2,T3,R=)   1.00000   0.00000   1.00000   0.08083   0.97681   0.00000   0.00000   0.00000   0.00000
                                     1.00000   0.50000   0.00000   0.50000
 X= 0.80829805009E-01 0.97779077375E+00
 G=-0.90667990321E+00-0.98819752502E-02
 P= 0.83314569672E-05 0.20951463312E-04

   FSMF= 0.11175E-03  PTG=-0.77610E-05


          HESSIAN MATRIX
  0.117E+06
  0.133E+04 0.163E+02


                    FACTORIZATION OF B-MATRIX HAS SUCCEEDED




          COVARIANCE MATRIX
  0.130E-03
 -0.106E-01 0.926E+00


          CORRELATION MATRIX
  0.100E+01
 -0.966E+00 0.100E+01


 ==================================================================================================================================


 Mon Dec  6 17:24:04 1993          RPOINTA CREATED 08-30-85.  PROLIX OUTPUT.
0==================================================================================================================================
